.news {
	margin-bottom: 100px;

	&__title {
		margin-bottom: 30px;
		text-align: center;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		gap: 40px;
		padding: 0 95px;
		margin-bottom: 30px;
		@media (max-width: 991.98px) {
			padding: 0;
		}
	}

	&__btn {
		display: block;
		max-width: 350px;
		margin: 0 auto;
		text-align: center;
	}
}
.item-news {
	overflow: hidden;
	border: 1px solid #000;
	border-radius: 15px;
	&__pic {
		height: 190px;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		min-height: 240px;
		padding: 20px;
	}

	&__title {
		margin-bottom: 5px;
		font-family: $font-family-rubik;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
	}

	&__text {
		font-family: $font-family-rubik;
		font-size: 16px;
		line-height: 19px;
		color: $color-scorpion;
	}

	&__btn {
		margin-top: auto;
		padding: 10px;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
	}
}
