.popup-img {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	inset: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
	&_visible {
		visibility: visible;
		opacity: 1;
	}

	&__body {
		position: relative;
		z-index: 2;
		max-width: 500px;
		width: 100%;
	}

	&__close {
		position: absolute;
		right: 30px;
		top: 30px;
		font-size: 40px;
		color: $color-accent;
		cursor: pointer;
	}

	&__pic {
		overflow: hidden;
		border-radius: 25px;
		img {
			width: 100%;
		}
	}
}
