.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	width: 224px;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}
.swiper-scrollbar-drag {
	background: $color-accent;
}
