<section class="clients">
	<div class="clients__container">
		<div class="clients__top">
			<h2 class="clients__title section-title">
				<span class="section-title__highlight">Клиенты</span>
			</h2>
			<p class="clients__subtitle section-subtitle">
				Мы поставляем дизельное топливо более 15 лет
			</p>
		</div>
		<div class="clients__wrapper">
			<div class="clients__item">
				<img src="@img/clients/01.png" alt="" class="clients__img" />
			</div>
			<div class="clients__item">
				<img src="@img/clients/02.png" alt="" class="clients__img" />
			</div>
			<div class="clients__item">
				<img src="@img/clients/03.png" alt="" class="clients__img" />
			</div>
			<div class="clients__item">
				<img src="@img/clients/04.png" alt="" class="clients__img" />
			</div>
			<div class="clients__item">
				<img src="@img/clients/05.png" alt="" class="clients__img" />
			</div>
			<div class="clients__item">
				<img src="@img/clients/06.png" alt="" class="clients__img" />
			</div>
		</div>
	</div>
</section>