<section class="contact-us">
  <div class="contact-us__container">
    <h2 class="contact-us__title section-title">Свяжитесь <span class='section-title__highlight'>с нами!</span></h2>
    <form action="#" class="contact-us__form form-contact-us">
      <input type="text" name="user-name" class="form-contact-us__input" placeholder="Имя">
      <input type="tel" name="user-phone" class="form-contact-us__input" placeholder="Телефон">
      <button class="form-contact-us__btn btn btn_border" type="submit">Отправить</button>
    </form>
    <span class="contact-us__agreement">Согласен с <a href="#!" class="contact-us__agreement-link">политикой
        конфиденциальности</a></span>
  </div>
</section>