<footer class="footer">
	<div class="footer__container">
		<div class="footer-top">
			<a href="#" class="footer-logo">
				<img src="@img/footer-logo.png" alt="Нефтекор" class="footer-logo__img" />
			</a>
			<ul class="footer-benefits">
				<li class="footer-benefits__item">
					Отсутствие посредников на всех этапах топливного обеспечения.
				</li>
				<li class="footer-benefits__item">
					Закупка напрямую с НПЗ, собственное производство емкостей, ТРК и мини
					АЗС.
				</li>
				<li class="footer-benefits__item">
					Поставка топлива своими бензовозами.
				</li>
			</ul>

			<nav class="footer-nav">
				<ul class="footer-nav-list">
					<li class="footer-nav-list__item">
						<a href="#!" class="footer-nav-list__link">Главная</a>
					</li>
					<li class="footer-nav-list__item">
						<a href="#!" class="footer-nav-list__link">Дизельное топливо</a>
					</li>
					<li class="footer-nav-list__item">
						<a href="#!" class="footer-nav-list__link">Мини-АЗС</a>
					</li>
				</ul>
				<ul class="footer-nav-list">
					<li class="footer-nav-list__item">
						<a href="#!" class="footer-nav-list__link">Печное топливо</a>
					</li>
					<li class="footer-nav-list__item">
						<a href="#!" class="footer-nav-list__link">Судовое топливо</a>
					</li>
					<li class="footer-nav-list__item">
						<a href="#!" class="footer-nav-list__link">Блог</a>
					</li>
				</ul>
			</nav>

			<a href="#!" class="footer-cabinet">
				<img src="@img/icons/footer-exit.svg" alt="" class="footer-cabinet__ico" />
				<span class="footer-cabinet__text">Личный кабинет</span>
			</a>
		</div>
		<div class="footer-bottom">
			<p class="footer-bottom__copy">©2022 Все права защищены</p>
			<a href="#!" class="footer-bottom__link">Политика конфиденциальности</a>
			<div class="footer-bottom-social">
				<span class="footer-bottom-social__text">Мы в соцсетях:</span>
				<div class="footer-bottom-social__wrapper">
					<a href="https://dzen.ru/" class="footer-bottom-social__item" target="_blank"><img src="@img/icons/zen.svg"
							alt="" /></a><a href="https://vk.com/" class="footer-bottom-social__item" target="_blank"><img
							src="@img/icons/vk.svg" alt="" /></a><a href="https://www.whatsapp.com/?lang=ru"
						class="footer-bottom-social__item" target="_blank"><img src="@img/icons/wsp.svg" alt="" /></a><a
						href="https://web.telegram.org/" class="footer-bottom-social__item" target="_blank"><img
							src="@img/icons/telega.svg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</footer>