<div class="hero">
  <div class="hero__container">
    <div class="hero-body">
      <h1 class="hero__title section-title"><span class="section-title__highlight">Поставка</span> дизельного топлива
        <span class="section-title__highlight">Евро 5</span> в Москве и Московской области
      </h1>
      <div class="hero-points">
        <div class="hero-points__point">Оптовые цены</div>
        <div class="hero-points__point">высокое качество топлива</div>
        <div class="hero-points__point">быстрая доставка</div>
      </div>
      <p class="hero__desc">От 1000 литров и от 46 рублей за литр</p>
      <a href="#!" class="hero__btn btn btn_shaded" data-scroll-link="contact-us">Заказать звонок</a>
    </div>
  </div>
</div>