<section class="manufacturers">
  <div class="manufacturers__container">
    <div class="manufacturers__top">
      <h2 class="manufacturers__title section-title"><span class="section-title__highlight">Производители</span>
        качественного
        топлива</h2>
      <p class="manufacturers__subtitle section-subtitle">С которыми у нас прямые договора. Вы получите топливо без
        посредников</p>
    </div class="manufacturers__top">
    <div class="manufacturers__wrapper">
      <div class="manufacturers__item">
        <img src="@img/manufacturers/01.png" alt="">
      </div>
      <div class="manufacturers__item">
        <img src="@img/manufacturers/02.png" alt="">
      </div>
      <div class="manufacturers__item">
        <img src="@img/manufacturers/03.png" alt="">
      </div>
      <div class="manufacturers__item">
        <img src="@img/manufacturers/04.png" alt="">
      </div>
      <div class="manufacturers__item">
        <img src="@img/manufacturers/05.png" alt="">
      </div>
    </div>
  </div>
</section>