<section class="news">
  <div class="news__container">
    <h2 class="news__title section-title">Новости <span class="section-title__highlight">топливного рынка</span></h2>
    <div class="news__wrapper">
      <div class="news__item item-news">
        <div class="item-news__pic">
          <img src="@img/news/01.jpg" alt="">
        </div>
        <div class="item-news__body">
          <h3 class="item-news__title">Заголовок новости </h3>
          <p class="item-news__text">Текст новости новости Текст новости новости Текст новости Текст новости Текст
            новости
            новости Текст новости новости Текст новости Текст новости </p>
          <a href="./note.html" class="item-news__btn btn btn_border">Подробнее</a>
        </div>
      </div>
      <div class="news__item item-news">
        <div class="item-news__pic">
          <img src="@img/news/01.jpg" alt="">
        </div>
        <div class="item-news__body">
          <h3 class="item-news__title">Заголовок новости </h3>
          <p class="item-news__text">Текст новости новости Текст новости новости Текст новости Текст новости Текст
            новости
            новости Текст новости новости Текст новости Текст новости </p>
          <a href="./note.html" class="item-news__btn btn btn_border">Подробнее</a>
        </div>
      </div>
      <div class="news__item item-news">
        <div class="item-news__pic">
          <img src="@img/news/01.jpg" alt="">
        </div>
        <div class="item-news__body">
          <h3 class="item-news__title">Заголовок новости </h3>
          <p class="item-news__text">Текст новости новости Текст новости новости Текст новости Текст новости Текст
            новости
            новости Текст новости новости Текст новости Текст новости </p>
          <a href="./note.html" class="item-news__btn btn btn_border">Подробнее</a>
        </div>
      </div>

    </div>
    <a href="./blog.html" class="news__btn btn btn_border">Смотреть все новости</a>
  </div>
</section>