<section class="team">
  <div class="team__container">
    <h2 class="team__title section-title">Наша <span class="section-title__highlight">команда</span>
    </h2>

    <ul class="team__wrapper">
      <li class="team__item item-team">
        <div class="item-team__photo">
          <img src="@img/team/01.jpg" alt="сотрудник: Олег Костенко, Менеджер по работе с клиентами">
        </div>
        <dl>
          <dt class="item-team__name">Олег Костенко</dt>
          <dd class="item-team__desc">Менеджер по работе с клиентами</dd>
        </dl>
        <a href="tel:+79999999999" class="item-team__tel">+ 7 999 999 99 99</a>
      </li>
      <li class="team__item item-team">
        <div class="item-team__photo">
          <img src="@img/team/02.jpg" alt="сотрудник: Олег Костенко, Менеджер по работе с клиентами">
        </div>
        <dl>
          <dt class="item-team__name">Олег Костенко</dt>
          <dd class="item-team__desc">Менеджер по работе с клиентами</dd>
        </dl>
        <a href="tel:+79999999999" class="item-team__tel">+ 7 999 999 99 99</a>
      </li>
      <li class="team__item item-team">
        <div class="item-team__photo">
          <img src="@img/team/03.jpg" alt="сотрудник: Олег Костенко, Менеджер по работе с клиентами">
        </div>
        <dl>
          <dt class="item-team__name">Олег Костенко</dt>
          <dd class="item-team__desc">Менеджер по работе с клиентами</dd>
        </dl>
        <a href="tel:+79999999999" class="item-team__tel">+ 7 999 999 99 99</a>
      </li>
    </ul>

  </div>
</section>