.contacts-form {
	padding: 60px 0;

	&__wrapper {
		display: flex;

		align-items: center;
		gap: 50px;
		padding: 50px 70px;
		border: 3px dashed #dba833;
		border-radius: 41px;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
			gap: 30px;
		}
		@media (max-width: 767.98px) {
			padding: 20px;
		}
		@media (max-width: 575.98px) {
			padding: 10px;
		}
	}
	&__body {
		flex: 0 1 590px;
		padding: 30px 40px;
		border: 2px solid #b6b6b6;
		border-radius: 28px;
		@media (max-width: 991.98px) {
			flex: 1 1 100%;
		}
		@media (max-width: 767.98px) {
			padding: 30px 20px;
		}
		@media (max-width: 575.98px) {
			padding: 20px 10px;
		}
	}
}
.contacts-form-connect {
	display: flex;
	flex-direction: column;
	gap: 20px;
	@media (max-width: 575.98px) {
		gap: 10px;
	}
	&__title {
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		@media (max-width: 575.98px) {
			font-size: 27px;
			line-height: 32px;
		}
	}

	&__row {
		display: flex;
		column-gap: 10px;
		row-gap: 20px;
		@media (max-width: 767.98px) {
			flex-direction: column;
		}
		@media (max-width: 575.98px) {
			gap: 10px;
		}
	}

	&__input {
		width: 100%;
		height: 44px;
		padding: 10px;
		font-family: $font-family-inter;
		font-size: 20px;
		line-height: 24px;
		border: 2px solid #000000;
		border-radius: 5px;
	}

	&__btn {
		padding: 10px;
		font-size: 20px;
		line-height: 24px;
	}
}
.contacts-form-list {
	flex: 0 0 350px;
	@media (max-width: 991.98px) {
		flex: 1 1 100%;
	}
	&__item {
		padding: 15px 0;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: $color-scorpion;
		&:not(:last-child) {
			border-bottom: 1px solid $color-grey;
		}
		@media (max-width: 575.98px) {
			font-size: 14px;
			line-height: 17px;
		}
	}
}
